.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.column {
    flex: 1;
    width: 50%;
    height: 100%;
}

.vertical-panel {
    position: fixed; /* Or absolute, depending on your needs */
    left: 0; /* Align to the left side of the page; change to 'right: 0;' for right alignment */
    top: 0; /* Align to the top of the page */
    width: auto;
    min-width: 30vw; /* Sets the width to 50% of the viewport width */
    height: 100vh; /* Sets the height to 100% of the viewport height */
    background-color: #f2f2f2;
    z-index: 9999; /* Ensure it's above other content; adjust as needed */
    overflow-y: auto; /* Adds a vertical scrollbar if content exceeds panel height */
    border: 2px solid darkseagreen;
}